.formulario {
    display: flex;
    justify-content: center;
    margin: 80px 0;

}
.formulario form {
    max-width: 100%;
    background: linear-gradient(535deg,#70c1dcac,#d8b4f286,#ffffff69 );
    border-radius: 20px;
    padding: 36px 64px;
    box-shadow:8px 8px 16px rgba(0,0,0,0.08);}

.formulario ,form{
    background-color: #ffffff;
    background-image: url(/public/imagens/fundo.png);
}